<!DIOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>
    <body>
        <h1><a href="http://127.0.0.1:8000/binary">Binary Game</a></h1>
        <h1><a href="http://127.0.0.1:8000/form">Registration Form</a></h1>
        <h1><a href="http://127.0.0.1:8000/generate">Generate Numbers</a></h1>
        <h1><a href="http://127.0.0.1:8000/geog">Geography Game</a></h1>
        <h1><a href="http://127.0.0.1:8000/stress">AntiDepressant Game</a></h1>
        <h1><a href="http://127.0.0.1:8000/typemaster">Typing Master Game</a></h1>

    </body>
</html>