<!DIOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects</title>
    </head>
    <body>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/binary">Binary Game</a></h1>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/form">Registration Form</a></h1>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/generate">Generate Numbers</a></h1>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/geog">Geography Game</a></h1>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/stress">AntiDepressant Game</a></h1>
        <h1><a href="http://iambiggsharaf.pythonanywhere.com/typemaster">Typing Master Game</a></h1>

    </body>
</html>